---
import Layout from "../components/Layout.astro";
import "@fontsource/limelight";
import "@fontsource-variable/josefin-sans";
---

<Layout title="La Rimaudière - Restaurant, Paris 9eme">
  <main class="contact-page">
    <h1 class="menu_title text-yellow">CONTACT</h1>
    <div class="socials">
      <a
        class="socials_icon-link"
        href="https://www.instagram.com/larimaudiere/"
        target="_blank"
        aria-label="Instagram"
      >
        <svg xmlns="http://www.w3.org/2000/svg" fill="rgb(244, 211, 83)" width="48" height="48" viewBox="0 0 24 24"><path d="M11.984 16.815c2.596 0 4.706-2.111 4.706-4.707 0-1.409-.623-2.674-1.606-3.538-.346-.303-.735-.556-1.158-.748-.593-.27-1.249-.421-1.941-.421s-1.349.151-1.941.421c-.424.194-.814.447-1.158.749-.985.864-1.608 2.129-1.608 3.538 0 2.595 2.112 4.706 4.706 4.706zm.016-8.184c1.921 0 3.479 1.557 3.479 3.478 0 1.921-1.558 3.479-3.479 3.479s-3.479-1.557-3.479-3.479c0-1.921 1.558-3.478 3.479-3.478zm5.223.369h6.777v10.278c0 2.608-2.114 4.722-4.722 4.722h-14.493c-2.608 0-4.785-2.114-4.785-4.722v-10.278h6.747c-.544.913-.872 1.969-.872 3.109 0 3.374 2.735 6.109 6.109 6.109s6.109-2.735 6.109-6.109c.001-1.14-.327-2.196-.87-3.109zm2.055-9h-12.278v5h-1v-5h-1v5h-1v-4.923c-.346.057-.682.143-1 .27v4.653h-1v-4.102c-1.202.857-2 2.246-2 3.824v3.278h7.473c1.167-1.282 2.798-2 4.511-2 1.722 0 3.351.725 4.511 2h7.505v-3.278c0-2.608-2.114-4.722-4.722-4.722zm2.722 5.265c0 .406-.333.735-.745.735h-2.511c-.411 0-.744-.329-.744-.735v-2.53c0-.406.333-.735.744-.735h2.511c.412 0 .745.329.745.735v2.53z"/></svg>
      </a>

      <a
        class="socials_icon-link"
        href="https://www.facebook.com/larimaudiere/"
        target="_blank"
        aria-label="Facebook"
      >
        <svg xmlns="http://www.w3.org/2000/svg" fill="rgb(244, 211, 83)" width="48" height="48" viewBox="0 0 24 24"><path d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"/></svg>
      </a>
    </div>
    <p class="contact__owners">Lilie et John</p>
    <p class="contact__phone">+33 1 42 81 48 17 - <span><a href="mailto:larimaudiere@gmail.com" aria-label="Email Us"
        >larimaudiere@gmail.com</a
      ></span></p>
    <h2>Horaires</h2>
    <p>
      Ouvert du mardi au samedi : de 08h00 à 00h00<br />Le dimanche : de 09h00 à
      18h00<br />
    </p>
    <div class="map-container">
      <h2>Adresse</h2>
      <p>2 rue des Martyrs, 75009 Paris</p>
      <p>
        En bas de la rue des Martyrs,
        <br />
        À l'angle de la rue Lamartine
      </p>
      <p>
        <p>
          <ul class="contact__list-metro">
            <h2>Metro</h2>
            <li>
              Métro Notre-Dame-de-Lorette (Ligne 12)
              <li>Métro Pigalle (Lignes 2 et 12)</li>
              <li>Métro Anvers (Ligne 2)</li>
            </li>
          </ul>
        </p>

        <h2>Bus</h2>

        <p>Lignes 26, 32, 67, 74, et 85</p>


        <h2>Google Map</h2>
        <a
          href="https://www.google.com/maps/place/La+Rimaudi%C3%A8re/@48.8768599,2.3394492,15z/data=!4m6!3m5!1s0x47e66e475c199019:0x1284472614e32c5e!8m2!3d48.8768599!4d2.3394492!16s%2Fg%2F1td0mb5p"
          target="_blank"
          aria-label="View Location on Google Maps"
        >
          <p>Ouvrir Google Map</p>
        </a>
        <iframe
          title="La Rimaudière Location on Google Maps"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10496.087423038813!2d2.3394492!3d48.8768599!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e475c199019%3A0x1284472614e32c5e!2sLa%20Rimaudi%C3%A8re!5e0!3m2!1sen!2sus!4v1691789051925!5m2!1sen!2sus"
          width="375"
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </p>
    </div>
  </main>
</Layout>
