---
import Layout from "../components/Layout.astro";
import "@fontsource/limelight";
import "@fontsource-variable/josefin-sans";
---

<Layout title="La Rimaudière - Restaurant, Paris 9eme">
  <main>
    <h1 class="menu_title text-yellow">CONTACT</h1>
    <p class="contact__owners">LILIE ET JOHN</p>
    <p class="contact__phone">+33 1 42 81 48 17</p>
    <p class="contact__email">
      <a href="mailto:larimaudiere@gmail.com" aria-label="Email Us"
        >larimaudiere@gmail.com</a
      >
    </p>
    <p>
      Ouvert du mardi au samedi : de 08h00 à 00h00<br />Le dimanche : de 09h00 à
      18h00<br />
    </p>
    <div class="socials">
      <a
        class="socials_icon-link"
        href="https://www.instagram.com/larimaudiere/"
        target="_blank"
        aria-label="Instagram"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="rgb(244, 211, 83)"
          class="bi bi-instagram"
          viewBox="0 0 16 16"
          aria-hidden="true"
        >
          <!-- SVG path data -->
        </svg>
      </a>

      <a
        class="socials_icon-link"
        href="https://www.facebook.com/larimaudiere/"
        target="_blank"
        aria-label="Facebook"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="rgb(244, 211, 83)"
          class="bi bi-facebook"
          viewBox="0 0 16 16"
          aria-hidden="true"
        >
          <!-- SVG path data -->
        </svg>
      </a>
    </div>
    <div class="map-container">
      <p>2 rue des Martyrs, 75009 Paris</p>
      <p>
        En bas de la rue des Martyrs,
        <br />
        À l'angle de la rue Lamartine
      </p>
      <p>
        <br />
        <p>
          <ul>
            <b>Metro:</b>
            <li>
              Métro Notre-Dame-de-Lorette (Ligne 12)
              <li>Métro Pigalle (Lignes 2 et 12)</li>
              <li>Métro Anvers (Ligne 2)</li>
            </li>
          </ul>
        </p>
        <p>
          <ul>
            <b>Bus:</b> lignes 26, 32, 67, 74, et 85
          </ul>
        </p>
        <a
          href="https://www.google.com/maps/place/La+Rimaudi%C3%A8re/@48.8768599,2.3394492,15z/data=!4m6!3m5!1s0x47e66e475c199019:0x1284472614e32c5e!8m2!3d48.8768599!4d2.3394492!16s%2Fg%2F1td0mb5p"
          target="_blank"
          aria-label="View Location on Google Maps"
        >
          <p>Google Map</p>
        </a>
        <iframe
          title="La Rimaudière Location on Google Maps"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10496.087423038813!2d2.3394492!3d48.8768599!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e475c199019%3A0x1284472614e32c5e!2sLa%20Rimaudi%C3%A8re!5e0!3m2!1sen!2sus!4v1691789051925!5m2!1sen!2sus"
          width="375"
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </p>
    </div>
  </main>
</Layout>
