---
import Layout from "../components/Layout.astro";
import "@fontsource/limelight";
import "@fontsource-variable/josefin-sans";
---

<Layout title="La Rimaudière - Restaurant, Paris 9eme">
  <main>
    <div id="content">
      <main>
        <a href="/menu">
          <img
            src="/larimaudiere-photo.jpg"
            class="main_image"
            alt="La Rimaudière Restaurant Exterieur"
          />
        </a>
        <p>2 rue des Martyrs, 75009 Paris</p>
        <p>
          Ouvert du mardi au samedi : de 08h00 à 00h00<br />Le dimanche : de
          09h00 à 18h00<br />
        </p>
      </main>
    </div>
  </main>
</Layout>
