---
import Layout from "../components/Layout.astro";
import "@fontsource/limelight";
import "@fontsource-variable/josefin-sans";
---

<Layout title="La Rimaudière - Restaurant, Paris 9eme">
  <main>
    <h1 class="menu_title text-yellow">LE MENU</h1>
    <!-- // link to menu in english with UK flag SVG-->
    <div class="menu__flags">
      <a href="/menu-en">
        <p class="menu__question">May I have the english menu?</p>
        <!--?xml version="1.0" encoding="UTF-8"?-->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 60 30"
          width="60"
          height="30"
        >
          <clipPath id="s">
            <path d="M0,0 v30 h60 v-30 z"></path>
          </clipPath>
          <clipPath id="t">
            <path d="M30,15 h30 v15 z v15 h-30 z h-30 v-15 z v-15 h30 z"></path>
          </clipPath>
          <g clip-path="url(#s)">
            <path d="M0,0 v30 h60 v-30 z" fill="#012169"></path>
            <path d="M0,0 L60,30 M60,0 L0,30" stroke="#fff" stroke-width="6"
            ></path>
            <path
              d="M0,0 L60,30 M60,0 L0,30"
              clip-path="url(#t)"
              stroke="#C8102E"
              stroke-width="4"></path>
            <path d="M30,0 v30 M0,15 h60" stroke="#fff" stroke-width="10"
            ></path>
            <path d="M30,0 v30 M0,15 h60" stroke="#C8102E" stroke-width="6"
            ></path>
          </g>
        </svg>
      </a>

      <div class="menu__columns">
        <div class="menu__column">
          <h2 class="menu__column--title text-yellow">Entrées</h2>
          <div class="menu__column--row">
            <div class="menu__column--item">Les 6 escargots de Bourgogne</div>
            <div class="menu__column--price">9.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Oeuf durs, mayonnaise maison</div>
            <div class="menu__column--price">7.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Soupe à l'oignon gratinée, croûtons</div>
            <div class="menu__column--price">10.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Salade d’endives ,lardons noix et raisins</div>
            <div class="menu__column--price">8.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Terrine de Campagne au piment d'espelette</div>
            <div class="menu__column--price">9.50€</div>
          </div>
        </div>
        <div class="menu__column">
          <h2 class="menu__column--title text-yellow">Plats</h2>
          <div class="menu__column--row">
            <div class="menu__column--item">Saumon mi-cuit, sauce vierge, petits légumes</div>
            <div class="menu__column--price">19.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">La poêlée de St Jacques, fondue de poireaux</div>
            <div class="menu__column--price">21.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Fish & Chips, sauce tartare</div>
            <div class="menu__column--price">17.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Onglet de veau, sauce normande, frites maison</div>
            <div class="menu__column--price">21.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Croque monsieur, frites maison, salade</div>
            <div class="menu__column--price">14.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Omelette aux pleurottes, frites maison, salade</div>
            <div class="menu__column--price">16.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Tartare de bœuf préparé, frites maison, salade</div>
            <div class="menu__column--price">18.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Le Burger du chef sauce au bleu ou cheddar , frites maison</div>
            <div class="menu__column--price">18.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Pièce du boucher, frites maison, salade</div>
            <div class="menu__column--price">19.50€</div>
          </div>
        </div>
        <div class="menu__column">
          <h2 class="menu__column--title text-yellow">Desserts</h2>
          <div class="menu__column--row">
            <div class="menu__column--item">Mousse au chocolat maison</div>
            <div class="menu__column--price">8.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Crème brûlée à la vanille</div>
            <div class="menu__column--price">8.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Tarte Tatin, crème fraîche</div>
            <div class="menu__column--price">8.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Crème caramel</div>
            <div class="menu__column--price">8.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Tiramisu maison</div>
            <div class="menu__column--price">8.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Fontainebleau, coulis de fruits rouges</div>
            <div class="menu__column--price">8.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Café gourmand</div>
            <div class="menu__column--price">8.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Assortiment de fromages</div>
            <div class="menu__column--price">8.50€</div>
          </div>
        </div>

        <div class="menu__column">
          <h2 class="menu__column--title text-yellow">Petits déjeuners</h2>
          <div class="menu__column--row">
            <div class="menu__column--item">
              Français:<br>Boisson chaude + tartines confiture ou une
              viennoiserie + orange pressée
            </div>
            <div class="menu__column--price">9.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">
              Anglais:<br>Boisson chaude + omelette nature (3 oeufs bio) + orange pressée
            </div>
            <div class="menu__column--price">12.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">
              Croissant
            </div>
            <div class="menu__column--price">2.20€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">
              Pain au chocolat
            </div>
            <div class="menu__column--price">2.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">
              Tartine beurre
            </div>
            <div class="menu__column--price">2.00€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">
              Confiture ou miel
            </div>
            <div class="menu__column--price">0.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">
              Beurre
            </div>
            <div class="menu__column--price">0.50€</div>
          </div>
        </div>

        <div class="menu__column">
          <h2 class="menu__column--title text-yellow">Tapas</h2>
          <div class="menu__column--row">
            <div class="menu__column--item">Frites maison</div>
            <div class="menu__column--price">6.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Calamar à la romaine, sauce tartare</div>
            <div class="menu__column--price">9.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Les 6 escargots de Bourgogne</div>
            <div class="menu__column--price">9.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Œufs durs, mayonnaise maison</div>
            <div class="menu__column--price">7.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Terrine de campagne</div>
            <div class="menu__column--price">9.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Croquette de camembert</div>
            <div class="menu__column--price">6.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Planche de charcuterie</div>
            <div class="menu__column--price">22€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Planche de fromages</div>
            <div class="menu__column--price">22€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Planche mixte</div>
            <div class="menu__column--price">22€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Stick de mozzarella</div>
            <div class="menu__column--price">6.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Jalapeños cheese</div>
            <div class="menu__column--price">6.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Friture d'éperlans</div>
            <div class="menu__column--price">6.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Accras de morue</div>
            <div class="menu__column--price">6.50€</div>
          </div>
        </div>






        <div class="menu__column">
          <h2 class="menu__column--title text-yellow">Happy Hour</h2>
          <div class="menu__column--row">
            <div class="menu__column--item">La pinte de biere du moment 50cl</div>
            <div class="menu__column--price">5.00€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Le verre de Prosecco 14cl</div>
            <div class="menu__column--price">5.00€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Le verre de vin du moment 14cl</div>
            <div class="menu__column--price">5.00€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Le long drink vodka ou gin ou whisky 14cl</div>
            <div class="menu__column--price">6.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Le cocktail Aperol Spritz 20cl</div>
            <div class="menu__column--price">6.50€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item"><i><h3>Les sans alcools</h3></i></div>
            <div class="menu__column--price"></div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Orangina 25cl</div>
            <div class="menu__column--price">4.90€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Ice Tea 25cl</div>
            <div class="menu__column--price">4.90€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Limonade 25cl</div>
            <div class="menu__column--price">4.90€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Jus de fruit 25cl</div>
            <div class="menu__column--price">4.90€</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Coca 33cl</div>
            <div class="menu__column--price">4.90€</div>
          </div>
        </div>





           <div class="menu__column">
          <h2 class="menu__column--title text-yellow">Vins Rouge</h2>
          <div class="menu__column--row">
            <div class="menu__column--item">Brouilly, Domaine Laforest "Beaujolais" 2021</div>
            <div class="menu__column--price">19€(50cl) / 28€(75cl)</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Pinot Noir, Le Bourlay "Bourgogne" 2021</div>
            <div class="menu__column--price">21€(50cl) / 31€(75cl)</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Côte du Rhône Bio Les Galets De La Lyre 2020</div>
            <div class="menu__column--price">23€(50cl) / 34€(75cl)</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Pic Saint-Loup "Esprit Sauvage" "Languedoc" 2022</div>
            <div class="menu__column--price">25€(50cl) / 37€(75cl)</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Saint Emilion Grand Cru Château des Cordes "Bordeaux" 2018</div>
            <div class="menu__column--price">29€(50cl) / 43€(75cl)</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Saint-Joseph Domaine Rochevine 2020</div>
            <div class="menu__column--price">85€ (75cl)</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Santenay 1er Cru, Vincent Girardin "Beauregard" 2016</div>
            <div class="menu__column--price">95€ (75cl)</div>
          </div>
        </div>


        <div class="menu__column">
          <h2 class="menu__column--title text-yellow">Vins blanc</h2>
          <div class="menu__column--row">
            <div class="menu__column--item">Viognier 1753 IGP Gard Domaine Campuget 2022</div>
            <div class="menu__column--price">23€(50cl) / 34€(75cl)</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Sancerre, Vincent Doucet AOC "Loire" 2020</div>
            <div class="menu__column--price">23€(50cl) / 39€(75cl)</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Chablis, Baudouin Millet, Intensément Bourgogne 2021</div>
            <div class="menu__column--price">23€(50cl) / 34€(75cl)</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Pouilly-Fuissé, Pascal Renaud Vielles Vignes "Bourgogne" 2020</div>
            <div class="menu__column--price">39€(50cl) / 65€(75cl)</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Santenay, Vincent Girardin Vieilles Vignes "Bourgogne" 2018</div>
            <div class="menu__column--price">79€ (75cl)</div>
          </div>
        </div>


        <div class="menu__column">
          <h2 class="menu__column--title text-yellow">Vins rosé</h2>
          <div class="menu__column--row">
            <div class="menu__column--item">Moment de Plaisir "Pays d'OC" 2022</div>
            <div class="menu__column--price">17€(50cl) / 25€(75cl)</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">1603 AOP (bio) Château de Sannes "Luberon" 2022</div>
            <div class="menu__column--price">21€(50cl) / 31€(75cl)</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Campuget 1753 IGP "Gard" 2022</div>
            <div class="menu__column--price">23€(50cl) / 34€(75cl)</div>
          </div>
        </div>


        <div class="menu__column">
          <h2 class="menu__column--title text-yellow">Champagnes</h2>
          <div class="menu__column--row">
            <div class="menu__column--item">Champagne Monial Brut</div>
            <div class="menu__column--price">10€(La coupe 14cl) / 69€(75cl)</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Champagne Platine Extra 1er Cru Nicolas Maillart</div>
            <div class="menu__column--price">95€ (75cl)</div>
          </div>
          <div class="menu__column--row">
            <div class="menu__column--item">Champagne Grand Cru Rosé Nicolas Maillart</div>
            <div class="menu__column--price">115€ (75cl)</div>
          </div>
        </div>


        <div class="menu__column menu__column--full">
          <h2 class="menu__column--title text-yellow">Menu Enfant (Jusqu'à 12 ans)</h2>
          <div class="menu__column--row">
            <div class="menu__column--item">- Cordon bleu, ou steak haché ou fish & chips avec frites<br>- Cornet de glace<br>- Boisson </div>
            <div class="menu__column--price">12.50€</div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>


<!-- <div class="menu__column">
  <h2 class="menu__column--title text-yellow">Poissons</h2>
  <div class="menu__column--row">
    <div class="menu__column--item">Tataki de thon aux sésames</div>
    <div class="menu__column--price">6.50€</div>
  </div>
  <div class="menu__column--row">
    <div class="menu__column--item">Fish and chips</div>
    <div class="menu__column--price">6.50€</div>
  </div>
  <div class="menu__column--row">
    <div class="menu__column--item">Gambas risotto</div>
    <div class="menu__column--price">6.50€</div>
  </div>
</div> -->
<!-- <div class="menu__column">
  <h2 class="menu__column--title text-yellow">Fromages</h2>
  <p><i>Cantal, camembert, chèvre, fromage truffé, St nectaire</i></p>
  <p>Une part de fromage</p>
  <p>L'assortiment de 3 fromages</p>
</div> -->

<!-- <div class="menu__column">
  <h2 class="menu__column--title text-yellow">Glaces</h2>
  <p>Chocolat</p>
  <p>Café</p>
  <p>Vanille</p>
  <p>Caramel beurre salé</p>
  <p>Fraise</p>
  <p>Citron</p>
  <p>Pomme</p>
  <p>Café ou chocolat liégeois</p>
  <p>Coupe colonel</p>
  <p>Trou normand</p>
  <p>Nougat glacé, coulis de fruits rouge</p>
  <p>Profiteroles au chocolat</p>
  <p>Banana split</p>
</div> -->

<!-- Cocktail -->
<!-- <div class="menu__column">
  <h2 class="menu__column--title text-yellow">Cocktails</h2>
  <p>Mojito - Passion</p>
  <p>Mojito - Kiwi</p>
  <p>Honey daiquiri</p>
  <p>Virgin Mojito - Kiwi</p>
  <p>Fruity mojito</p>
  <p>Fruity colada</p>
  <p>Margarita Ananas</p>
  <p>Banananas</p>
  <p>Aperol Spritz</p>
  <p>Bananarama</p>
</div> -->


<!-- <div class="menu__column">
  <h2 class="menu__column--title text-yellow">apéritifs - whiskies</h2>
  <p>Pastis, Ricard 2cl</p>
  <p>Martini, Campari 5cl</p>
  <p>Porto, Salers 5cl</p>
  <p>Muscat, Lillet 5cl</p>
  <p>Kir vin blanc 14cl</p>
  <p>Kir royal 14cl</p>
  <p>Americano "Maison"</p>
</div>
<div class="menu__column">
  <h2 class="menu__column--title text-yellow">bières</h2>
  <p>Silver</p>
  <p>1664</p>
  <p>Grimbergen</p>
  <p>Grimbergen blanche</p>
  <p>Monaco</p>
  <p>Picon bière</p>
  <p>Pression</p>
  <p>Bouteille</p>
  <p>Desperados (33cl)</p>
  <p>Corona (33cl)</p>
  <p>Bière sans alcool (25cl)</p>
  <p>Pelforth brune (33cl)</p>
  <p>Cidre brut ou doux (25cl)</p>
</div>
<div class="menu__column">
  <h2 class="menu__column--title text-yellow">les planches</h2>
  <p>La planche de fromages</p>
  <p>La planche de charcuteries</p>
  <p>La planche mixte</p>
  <p>La planche de la mer</p>
  <p>La planche crousty</p>
  <p>La planche d'antipasti</p>
</div> -->
