---
import Layout from "../components/Layout.astro";
import "@fontsource/limelight";
import "@fontsource-variable/josefin-sans";
---

<Layout title="La Rimaudière - Restaurant, 9th Arrondissement, Paris">
  <main>
    <h1 class="menu_title text-yellow">THE MENU</h1>
    <!-- Link to menu in English with UK flag SVG -->
    <div class="menu__flags">
      <a href="/menu">
        <p class="menu__question">
          Puis-je avoir le menu en français, s'il vous plaît ?
        </p>
        <!--?xml version="1.0" encoding="UTF-8"?-->
        <svg
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          width="60"
          height="30"
          viewBox="-10 -10 3020 2020"
        >
          <g id="French_Flag">
            <title>Flag of France</title>
            <rect fill="rgb(0%,14%,58%)" x="0" y="0" width="1010" height="2000"
            ></rect>
            <rect
              fill="rgb(97%,97%,97%)"
              x="1000"
              y="0"
              width="1010"
              height="2000"></rect>
            <rect
              fill="rgb(93%,16%,22%)"
              x="2000"
              y="0"
              width="1000"
              height="2000"></rect>
            <rect
              fill="none"
              stroke="rgb(55%,55%,55%)"
              stroke-width="10"
              x="0"
              y="0"
              width="3000"
              height="2000"></rect>
          </g>
        </svg>
      </a>

      <div class="menu__columns">
        <div class="menu__column">
          <h2 class="menu__column--title text-yellow">Appetizers</h2>
          <p>French onion soup gratinée with Cantal cheese</p>
          <p>6 snails</p>
          <p>12 snails</p>
          <p>Scallop carpaccio</p>
          <p>Country-style pâté</p>
          <p>Roasted goat cheese with honey</p>
          <p>6 fine "le clair" oysters</p>
          <p>12 fine "le clair" oysters</p>
          <p>Organic deviled eggs</p>
          <p>"Royans" ravioli, chive cream</p>
        </div>
        <div class="menu__column">
          <h2 class="menu__column--title text-yellow">Meats</h2>
          <p>Italian beef tartare</p>
          <p>Ribeye steak</p>
          <p>Duck confit</p>
          <p>Normandy veal escalope</p>
          <p>Free-range chicken</p>
          <p>Flat iron steak with shallot sauce</p>
        </div>
        <div class="menu__column">
          <h2 class="menu__column--title text-yellow">Fish</h2>
          <p>Sesame-crusted tuna tataki</p>
          <p>Fish and chips</p>
          <p>Gambas risotto</p>
        </div>
        <div class="menu__column">
          <h2 class="menu__column--title text-yellow">Cheeses</h2>
          <p>
            <i>Cantal, Camembert, goat cheese, truffle cheese, St Nectaire</i>
          </p>
          <p>A portion of cheese</p>
          <p>Assortment of 3 cheeses</p>
        </div>
        <div class="menu__column">
          <h2 class="menu__column--title text-yellow">Desserts</h2>
          <p>Chocolate mousse</p>
          <p>Crème brûlée</p>
          <p>Tarte Tatin</p>
          <p>Caramel custard</p>
          <p>Tiramisu</p>
          <p>Fontainebleau with red fruit coulis</p>
          <p>Gourmet coffee</p>
        </div>
        <div class="menu__column">
          <h2 class="menu__column--title text-yellow">Ice Creams</h2>
          <p>Chocolate</p>
          <p>Coffee</p>
          <p>Vanilla</p>
          <p>Salted caramel</p>
          <p>Strawberry</p>
          <p>Lemon</p>
          <p>Apple</p>
          <p>Coffee or chocolate affogato</p>
          <p>Coupe colonel</p>
          <p>Trou Normand</p>
          <p>Frozen nougat with red fruit coulis</p>
          <p>Chocolate profiteroles</p>
          <p>Banana split</p>
        </div>
        <div class="menu__column">
          <h2 class="menu__column--title text-yellow">Breakfasts</h2>
          <p>
            French:<br />Hot beverage + <br />toast with jam or pastry +<br
            />freshly squeezed orange juice
          </p>
          <p>
            English:<br />Hot beverage + <br />plain omelette (3 organic eggs) +<br
            /> freshly squeezed orange juice
          </p>
          <p>Croissant</p>
          <p>Chocolate croissant</p>
          <p>Butter toast</p>
          <p>Jam or honey</p>
          <p>Butter</p>
        </div>
        <div class="menu__column">
          <h2 class="menu__column--title text-yellow">Cocktails</h2>
          <p>Mojito - Passion</p>
          <p>Mojito - Kiwi</p>
          <p>Honey Daiquiri</p>
          <p>Virgin Mojito - Kiwi</p>
          <p>Fruity Mojito</p>
          <p>Fruity Colada</p>
          <p>Pineapple Margarita</p>
          <p>Banananas</p>
          <p>Aperol Spritz</p>
          <p>Bananarama</p>
        </div>
        <div class="menu__column">
          <h2 class="menu__column--title text-yellow">Aperitifs - Whiskies</h2>
          <p>Pastis, 2cl Ricard</p>
          <p>Martini, 5cl Campari</p>
          <p>Porto, 5cl Salers</p>
          <p>Muscat, 5cl Lillet</p>
          <p>White wine Kir, 14cl</p>
          <p>Kir Royal, 14cl</p>
          <p>House Americano</p>
        </div>
        <div class="menu__column">
          <h2 class="menu__column--title text-yellow">Beers</h2>
          <p>Silver</p>
          <p>1664</p>
          <p>Grimbergen</p>
          <p>Grimbergen White</p>
          <p>Monaco</p>
          <p>Beer with Picon</p>
          <p>Draft</p>
          <p>Bottle</p>
          <p>Desperados (33cl)</p>
          <p>Corona (33cl)</p>
          <p>Non-alcoholic beer (25cl)</p>
          <p>Pelforth Brune (33cl)</p>
          <p>Dry or sweet cider (25cl)</p>
        </div>
        <div class="menu__column">
          <h2 class="menu__column--title text-yellow">Platters</h2>
          <p>Cheese platter</p>
          <p>Charcuterie platter</p>
          <p>Mixed platter</p>
          <p>Seafood platter</p>
          <p>Crousty platter</p>
          <p>Antipasti platter</p>
        </div>
        <div class="menu__column">
          <h2 class="menu__column--title text-yellow">Red Wines</h2>
          <p>2021 Saumur Champigny, Laurigine, Loire</p>
          <p>2018 Brouilly "Domaine Laforest", Beaujolais</p>
          <p>2017 Corbières, Essentielle Languedoc</p>
          <p>2017 Château La Verrerie "Hautes Collines" BIO</p>
          <h2 class="menu__column--title text-yellow">White Wines</h2>
          <p>2018 AOC Chardonnay "Vigne Antique"</p>
          <p>2021 AOC Gewurztraminer "Henri Weber"</p>
          <p>2020 AOP Sancerre "Propriété Vincent Doucet"</p>
          <p>2021 AOP Sauvignon "Jean Dellac"</p>
        </div>
      </div>
    </div>
  </main>
</Layout>
