---
import Layout from "../components/Layout.astro";
import "@fontsource/limelight";
import "@fontsource-variable/josefin-sans";
---

<Layout title="La Rimaudière - Restaurant, 9th Arrondissement, Paris">
  <main>
    <h1 class="menu_title text-yellow">THE MENU</h1>
    <!-- Link to menu in English with UK flag SVG -->
    <div class="menu__flags">
      <a href="/menu">
        <p class="menu__question">
          Puis-je avoir le menu en français, s'il vous plaît ?
        </p>
        <!--?xml version="1.0" encoding="UTF-8"?-->
        <svg
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          width="60"
          height="30"
          viewBox="-10 -10 3020 2020"
        >
          <g id="French_Flag">
            <title>Flag of France</title>
            <rect fill="rgb(0%,14%,58%)" x="0" y="0" width="1010" height="2000"
            ></rect>
            <rect
              fill="rgb(97%,97%,97%)"
              x="1000"
              y="0"
              width="1010"
              height="2000"></rect>
            <rect
              fill="rgb(93%,16%,22%)"
              x="2000"
              y="0"
              width="1000"
              height="2000"></rect>
            <rect
              fill="none"
              stroke="rgb(55%,55%,55%)"
              stroke-width="10"
              x="0"
              y="0"
              width="3000"
              height="2000"></rect>
          </g>
        </svg>
      </a>

      <div class="menu__columns">
        <div class="menu__column">
          <h2 class="menu__column--title text-yellow">Starters</h2>
          <div class="menu__column--row">
              <div class="menu__column--item">6 Burgundy escargots</div>
              <div class="menu__column--price">€9.50</div>
          </div>
          <div class="menu__column--row">
              <div class="menu__column--item">Hard-boiled eggs with homemade mayonnaise</div>
              <div class="menu__column--price">€7.50</div>
          </div>
          <div class="menu__column--row">
              <div class="menu__column--item">Gratinated onion soup with croutons</div>
              <div class="menu__column--price">€9.50</div>
          </div>
          <div class="menu__column--row">
              <div class="menu__column--item">Plate of melon and cured ham</div>
              <div class="menu__column--price">€8.50</div>
          </div>
          <div class="menu__column--row">
              <div class="menu__column--item">Country terrine with Espelette pepper</div>
              <div class="menu__column--price">€9.50</div>
          </div>
        </div>
        <div class="menu__column">
            <h2 class="menu__column--title text-yellow">Main Courses</h2>
            <div class="menu__column--row">
                <div class="menu__column--item">Semi-cooked salmon with virgin sauce and vegetables</div>
                <div class="menu__column--price">€19.50</div>
            </div>
            <div class="menu__column--row">
                <div class="menu__column--item">Burrata salad with avocado and cured ham</div>
                <div class="menu__column--price">€17.50</div>
            </div>
            <div class="menu__column--row">
                <div class="menu__column--item">Fish & Chips with tartar sauce</div>
                <div class="menu__column--price">€16.50</div>
            </div>
            <div class="menu__column--row">
                <div class="menu__column--item">Veal hanger steak with Normandy sauce and homemade fries</div>
                <div class="menu__column--price">€21.50</div>
            </div>
            <div class="menu__column--row">
                <div class="menu__column--item">Croque monsieur with homemade fries and salad</div>
                <div class="menu__column--price">€12.50</div>
            </div>
            <div class="menu__column--row">
                <div class="menu__column--item">Oyster mushroom omelette with homemade fries and salad</div>
                <div class="menu__column--price">€16.50</div>
            </div>
            <div class="menu__column--row">
                <div class="menu__column--item">Prepared beef tartare with homemade fries and salad</div>
                <div class="menu__column--price">€17.50</div>
            </div>
            <div class="menu__column--row">
                <div class="menu__column--item">Butcher's cut with homemade fries and salad</div>
                <div class="menu__column--price">€19.50</div>
            </div>
        </div>

        <div class="menu__column">
            <h2 class="menu__column--title text-yellow">Desserts</h2>
            <div class="menu__column--row">
                <div class="menu__column--item">Homemade chocolate mousse</div>
                <div class="menu__column--price">€9.50</div>
            </div>
            <div class="menu__column--row">
                <div class="menu__column--item">Vanilla crème brûlée</div>
                <div class="menu__column--price">€9.50</div>
            </div>
            <div class="menu__column--row">
                <div class="menu__column--item">Tarte Tatin with fresh cream</div>
                <div class="menu__column--price">€8.50</div>
            </div>
            <div class="menu__column--row">
                <div class="menu__column--item">Caramel cream</div>
                <div class="menu__column--price">€8.50</div>
            </div>
            <div class="menu__column--row">
                <div class="menu__column--item">Homemade tiramisu</div>
                <div class="menu__column--price">€9.50</div>
            </div>
            <div class="menu__column--row">
                <div class="menu__column--item">Fontainebleau with red fruit coulis</div>
                <div class="menu__column--price">€9.50</div>
            </div>
            <div class="menu__column--row">
                <div class="menu__column--item">Gourmet coffee</div>
                <div class="menu__column--price">€9.50</div>
            </div>
            <div class="menu__column--row">
                <div class="menu__column--item">Assortment of cheeses</div>
                <div class="menu__column--price">€8.50</div>
            </div>
        </div>

        <div class="menu__column">
          <h2 class="menu__column--title text-yellow">Breakfasts</h2>
          <div class="menu__column--row">
              <div class="menu__column--item">
                  French:<br>Hot drink + toast with jam or a pastry + fresh squeezed orange juice
              </div>
              <div class="menu__column--price">€9.50</div>
          </div>
          <div class="menu__column--row">
              <div class="menu__column--item">
                  English:<br>Hot drink + plain omelette (3 organic eggs) + fresh squeezed orange juice
              </div>
              <div class="menu__column--price">€12.50</div>
          </div>
          <div class="menu__column--row">
              <div class="menu__column--item">
                  Croissant
              </div>
              <div class="menu__column--price">€2.20</div>
          </div>
          <div class="menu__column--row">
              <div class="menu__column--item">
                  Chocolate bread (Pain au chocolat)
              </div>
              <div class="menu__column--price">€2.50</div>
          </div>
          <div class="menu__column--row">
              <div class="menu__column--item">
                  Buttered toast
              </div>
              <div class="menu__column--price">€2.00</div>
          </div>
          <div class="menu__column--row">
              <div class="menu__column--item">
                  Jam or honey
              </div>
              <div class="menu__column--price">€0.50</div>
          </div>
          <div class="menu__column--row">
              <div class="menu__column--item">
                  Butter
              </div>
              <div class="menu__column--price">€0.50</div>
          </div>
        </div>

        <div class="menu__column">
            <h2 class="menu__column--title text-yellow">Tapas</h2>
            <div class="menu__column--row">
                <div class="menu__column--item">Homemade fries</div>
                <div class="menu__column--price">€6.50</div>
            </div>
            <div class="menu__column--row">
                <div class="menu__column--item">Roman-style calamari, tartar sauce</div>
                <div class="menu__column--price">€9.50</div>
            </div>
            <div class="menu__column--row">
                <div class="menu__column--item">6 Burgundy snails</div>
                <div class="menu__column--price">€9.50</div>
            </div>
            <div class="menu__column--row">
                <div class="menu__column--item">Hard-boiled eggs, homemade mayonnaise</div>
                <div class="menu__column--price">€7.50</div>
            </div>
            <div class="menu__column--row">
                <div class="menu__column--item">Country terrine</div>
                <div class="menu__column--price">€9.50</div>
            </div>
            <div class="menu__column--row">
                <div class="menu__column--item">Camembert croquette</div>
                <div class="menu__column--price">€6.50</div>
            </div>
            <div class="menu__column--row">
                <div class="menu__column--item">Charcuterie board</div>
                <div class="menu__column--price">€22</div>
            </div>
            <div class="menu__column--row">
                <div class="menu__column--item">Cheese board</div>
                <div class="menu__column--price">€22</div>
            </div>
            <div class="menu__column--row">
                <div class="menu__column--item">Mixed board</div>
                <div class="menu__column--price">€22</div>
            </div>
            <div class="menu__column--row">
                <div class="menu__column--item">Mozzarella sticks</div>
                <div class="menu__column--price">€6.50</div>
            </div>
            <div class="menu__column--row">
                <div class="menu__column--item">Jalapeños cheese</div>
                <div class="menu__column--price">€6.50</div>
            </div>
            <div class="menu__column--row">
                <div class="menu__column--item">Smelt fry</div>
                <div class="menu__column--price">€6.50</div>
            </div>
            <div class="menu__column--row">
                <div class="menu__column--item">Cod fritters (Accras de morue)</div>
                <div class="menu__column--price">€6.50</div>
            </div>
        </div>

        <div class="menu__column">
          <h2 class="menu__column--title text-yellow">Happy Hour</h2>
          <div class="menu__column--row">
              <div class="menu__column--item">Draft beer of the moment 50cl</div>
              <div class="menu__column--price">€5.00</div>
          </div>
          <div class="menu__column--row">
              <div class="menu__column--item">Glass of Prosecco 14cl</div>
              <div class="menu__column--price">€5.00</div>
          </div>
          <div class="menu__column--row">
              <div class="menu__column--item">Glass of wine of the moment 14cl</div>
              <div class="menu__column--price">€5.00</div>
          </div>
          <div class="menu__column--row">
              <div class="menu__column--item">Long drink with vodka or gin or whiskey 14cl</div>
              <div class="menu__column--price">€6.50</div>
          </div>
          <div class="menu__column--row">
              <div class="menu__column--item">Aperol Spritz cocktail 20cl</div>
              <div class="menu__column--price">€6.50</div>
          </div>
          <div class="menu__column--row">
              <div class="menu__column--item"><i><h3>Non-alcoholic drinks</h3></i></div>
              <div class="menu__column--price"></div>
          </div>
          <div class="menu__column--row">
              <div class="menu__column--item">Orangina 25cl</div>
              <div class="menu__column--price">€4.90</div>
          </div>
          <div class="menu__column--row">
              <div class="menu__column--item">Ice Tea 25cl</div>
              <div class="menu__column--price">€4.90</div>
          </div>
          <div class="menu__column--row">
              <div class="menu__column--item">Lemonade 25cl</div>
              <div class="menu__column--price">€4.90</div>
          </div>
          <div class="menu__column--row">
              <div class="menu__column--item">Fruit juice 25cl</div>
              <div class="menu__column--price">€4.90</div>
          </div>
          <div class="menu__column--row">
              <div class="menu__column--item">Coca-Cola 33cl</div>
              <div class="menu__column--price">€4.90</div>
          </div>
      </div>

      <div class="menu__column menu__column--full">
          <h2 class="menu__column--title text-yellow">Kids' Menu (Up to 12 years old)</h2>
          <div class="menu__column--row">
              <div class="menu__column--item">- Chicken Cordon Bleu, or beef steak, or fish & chips with fries<br>- Ice cream<br>- Drink </div>
              <div class="menu__column--price">€12.50</div>
          </div>
      </div>

    </div>
  </main>
</Layout>
