---
import Layout from "../components/Layout.astro";
import "@fontsource/limelight";
import "@fontsource-variable/josefin-sans";
---

<Layout title="La Rimaudière Photos- Restaurant, Paris 9eme">
  <main>
    <div id="content">
      <main>
        <h1>Photos</h1>
        <p>Coming soon</p>
      </main>
    </div>
  </main>
</Layout>
