---
import Layout from "../components/Layout.astro";
import "@fontsource/limelight";
import "@fontsource-variable/josefin-sans";
---

<Layout title="La Rimaudière Photos- Restaurant, Paris 9eme">
  <main>
    <div id="content">
      <main>
        <h1 class="menu_title text-yellow">Photos</h1>
         <ul>
                     <li>
                <img
                    src="/la-rimmaudiere-paris-00030.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 30"
                />

             <li>
             <img
             src="/la-rimmaudiere-paris-00001.jpg"
             class="photo-page__img"
             alt="La Rimaudière Image 01"
             />
            </li>
            <li>
              <img
              src="/la-rimmaudiere-paris-00014.jpg"
              class="photo-page__img"
              alt="La Rimaudière Image 14"
              />
            </li>
           <li>
                <img
                    src="/la-rimmaudiere-paris-00029.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 29"
                />
            </li>

            </li>
                      <li>
                <img
                    src="/la-rimmaudiere-paris-00031.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 31"
                />
            </li>

            <li>
                <img
                    src="/la-rimmaudiere-paris-00017.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 17"
                />
            </li>
            <li>
                <img
                    src="/la-rimmaudiere-paris-00007.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 07"
                />
            </li>
            <li>
                <img
                    src="/la-rimmaudiere-paris-00002.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 02"
                />
            </li>
            <!-- <li>
                <img
                    src="/la-rimmaudiere-paris-00003.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 03"
                />
            </li> -->
            <li>
                <img
                    src="/la-rimmaudiere-paris-00004.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 04"
                />
            </li>
            <li>
                <img
                    src="/la-rimmaudiere-paris-00005.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 05"
                />
            </li>
            <li>
                <img
                    src="/la-rimmaudiere-paris-00006.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 06"
                />
            </li>
            <li>
                <img
                    src="/la-rimmaudiere-paris-00008.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 08"
                />
            </li>
            <li>
                <img
                    src="/la-rimmaudiere-paris-00009.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 09"
                />
            </li>
            <li>
                <img
                    src="/la-rimmaudiere-paris-00010.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 10"
                />
            </li>
            <!-- <li>
                <img
                    src="/la-rimmaudiere-paris-00011.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 11"
                />
            </li> -->
            <!-- <li>
                <img
                    src="/la-rimmaudiere-paris-00012.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 12"
                />
            </li> -->

            <li>
                <img
                    src="/la-rimmaudiere-paris-00015.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 15"
                />
            </li>
            <!-- <li>
                <img
                    src="/la-rimmaudiere-paris-00016.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 16"
                />
            </li> -->

            <li>
                <img
                    src="/la-rimmaudiere-paris-00018.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 18"
                />
            </li>
            <li>
                <img
                    src="/la-rimmaudiere-paris-00019.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 19"
                />
            </li>
            <!-- <li>
                <img
                    src="/la-rimmaudiere-paris-00020.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 20"
                />
            </li> -->
            <li>
                <img
                    src="/la-rimmaudiere-paris-00021.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 21"
                />
            </li>
            <li>
                <img
                    src="/la-rimmaudiere-paris-00022.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 22"
                />
            </li>
            <li>
                <img
                    src="/la-rimmaudiere-paris-00023.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 23"
                />
            </li>
            <li>
                <img
                    src="/la-rimmaudiere-paris-00025.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 25"
                />
            </li>

            <li>
                <img
                    src="/la-rimmaudiere-paris-00027.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 27"
                />
            </li>
                 <li>
                <img
                    src="/la-rimmaudiere-paris-00032.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 32"
                />
            </li>


            <li>
                <img
                    src="/la-rimmaudiere-paris-00033.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 33"
                />
            </li>
            <li>
                <img
                    src="/la-rimmaudiere-paris-00034.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 34"
                />
            </li>
            <!-- <li>
                <img
                    src="/la-rimmaudiere-paris-00035.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 35"
                />
            </li> -->
            <!-- <li>
                <img
                    src="/la-rimmaudiere-paris-00036.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 36"
                />
            </li> -->
            <!-- <li>
                <img
                    src="/la-rimmaudiere-paris-00037.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 37"
                />
            </li> -->
            <!-- <li>
                <img
                    src="/la-rimmaudiere-paris-00038.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 38"
                />
            </li> -->
            <li>
                <img
                    src="/la-rimmaudiere-paris-00039.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 39"
                />
            </li>
            <li>
                <img
                    src="/la-rimmaudiere-paris-00040.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 40"
                />
            </li>
            <li>
                <img
                    src="/la-rimmaudiere-paris-00041.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 41"
                />
            </li>
            <li>
                <img
                    src="/la-rimmaudiere-paris-00042.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 42"
                />
            </li>
            <li>
                <img
                    src="/la-rimmaudiere-paris-00043.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 43"
                />
            </li>
            <li>
                <img
                    src="/la-rimmaudiere-paris-00044.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 44"
                />
            </li>
            <li>
                <img
                    src="/la-rimmaudiere-paris-00045.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 45"
                />
            </li>
            <li>
                <img
                    src="/la-rimmaudiere-paris-00046.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 46"
                />
            </li>

            <li>
                <img
                    src="/la-rimmaudiere-paris-00049.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 49"
                />
            </li>
            <li>
                <img
                    src="/la-rimmaudiere-paris-00050.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 50"
                />
            </li>
            <li>
                <img
                    src="/la-rimmaudiere-paris-00102.jpeg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 102"
                />
            </li>
             <li>
                <img
                    src="/la-rimmaudiere-paris-00048.jpg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 48"
                />
            </li>
             <li>
                <img
                    src="/la-rimmaudiere-paris-00100.jpeg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 100"
                />
            </li>
             <li>
                <img
                    src="/la-rimmaudiere-paris-00101.jpeg"
                    class="photo-page__img"
                    alt="La Rimaudière Image 101"
                />
            </li>

        </ul>


      </main>
    </div>
  </main>
</Layout>

<style>
    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        padding-left: 0;
    }

    li {
        list-style: none;
    }

    img {
        display: flex;
        max-width: 350px;
        margin-inline: auto;
        object-fit: cover;
    }

    @media (max-width: 1440px) {

        ul {
            grid-template-columns: 1fr 1fr 1fr;
        }
        img {
            max-width: 310px;
        }
    }

    @media (max-width: 1200px) {

        ul {
            grid-template-columns: 1fr;
        }
        img {
            max-width: 610px;
        }
    }

    @media (max-width: 800px) {

        ul {
            grid-template-columns: 1fr;
        }
        img {
            max-width: 310px;
        }
    }
</style>
