---
import "../style/styling.css";

export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
    <meta
      name="description"
      content="Venez savourer une délicieuse cuisine française dans un cadre authentique, idéalement situé à deux pas de Notre-Dame-de-Lorette, au cœur du 9ème arrondissement de Paris."
    />
  </head>
  <body>
    <section class="fixed-header">
      <a class="logo-link" href="/">
        <h1 class="logo-text text-yellow">La Rimaudiere</h1>
      </a>
      <nav class="navigation">
        <!-- <a href="/menu">Menu</a> -->
        <a href="/photos">Photos</a>
        <a href="/contact">Contact</a>
      </nav>
    </section>
    <div class="decorations">
      <div class="decoration-top-left">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="568px"
          height="530px"
        >
          <path
            fill-rule="evenodd"
            fill="rgb(244, 211, 83)"
            d="M145.1000,529.1000 C149.333,516.335 152.667,502.665 155.1000,488.1000 C155.1000,488.667 155.1000,488.333 155.1000,487.1000 C132.669,487.667 109.331,487.333 85.1000,487.000 C85.1000,486.667 85.1000,486.333 85.1000,486.000 C91.999,470.668 98.001,455.332 103.1000,439.1000 C90.335,439.1000 76.665,439.1000 62.1000,439.1000 C65.1000,433.001 69.000,425.999 71.1000,418.1000 C58.001,418.1000 43.999,418.1000 29.1000,418.1000 C37.999,405.001 46.001,390.999 53.1000,376.1000 C36.002,376.667 17.998,376.333 -0.000,375.1000 C-0.000,375.667 -0.000,375.333 -0.000,375.000 C33.663,331.671 67.337,288.329 100.1000,245.000 C162.730,163.261 224.675,80.008 284.000,0.000 C284.333,0.000 284.667,0.000 285.000,0.000 C315.322,41.987 400.352,159.386 568.000,375.1000 C568.000,376.333 568.000,376.667 568.000,376.1000 C550.335,377.333 532.665,377.667 515.000,378.000 C522.999,391.665 531.001,405.335 539.000,418.1000 C524.668,419.333 510.332,419.667 496.000,420.000 C498.1000,426.666 502.000,433.334 505.000,439.1000 C491.335,439.1000 477.665,439.1000 464.000,439.1000 C470.333,455.998 476.667,472.002 483.000,487.1000 C459.336,487.1000 435.664,487.1000 412.000,487.1000 C415.666,501.665 419.334,515.335 423.000,529.000 C330.676,529.333 238.324,529.667 145.1000,529.1000 ZM284.000,28.1000 C241.671,192.984 199.329,357.016 156.1000,520.1000 C241.658,520.1000 326.342,520.1000 411.000,520.1000 C411.000,520.000 411.000,518.1000 411.000,518.000 C368.671,355.016 326.329,191.984 284.000,28.1000 ZM251.1000,70.1000 C183.007,183.655 113.993,296.345 44.1000,409.000 C56.332,409.000 67.668,409.000 78.1000,409.000 C136.661,296.345 194.339,183.655 251.1000,70.1000 ZM315.000,70.1000 C373.661,183.655 432.339,296.345 491.000,409.000 C501.666,409.000 512.334,409.000 523.000,409.000 C523.000,408.667 523.000,408.333 523.000,407.1000 C453.674,295.678 384.326,183.322 315.000,70.1000 ZM259.1000,80.000 C206.005,212.987 151.995,346.013 97.1000,479.000 C108.999,479.000 120.001,479.000 130.1000,479.000 C162.663,381.676 194.337,284.324 225.1000,186.1000 C231.718,168.838 262.610,93.147 259.1000,80.000 ZM307.000,80.000 C350.329,212.987 393.671,346.013 437.000,479.000 C447.999,479.000 459.001,479.000 470.000,479.000 C470.000,478.667 470.000,478.333 470.000,477.1000 C415.672,345.347 361.328,212.653 307.000,80.000 Z"
          ></path>
        </svg>
      </div>
      <div class="decoration-top-left">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="568px"
          height="530px"
        >
          <path
            fill-rule="evenodd"
            fill="rgb(244, 211, 83)"
            d="M145.1000,529.1000 C149.333,516.335 152.667,502.665 155.1000,488.1000 C155.1000,488.667 155.1000,488.333 155.1000,487.1000 C132.669,487.667 109.331,487.333 85.1000,487.000 C85.1000,486.667 85.1000,486.333 85.1000,486.000 C91.999,470.668 98.001,455.332 103.1000,439.1000 C90.335,439.1000 76.665,439.1000 62.1000,439.1000 C65.1000,433.001 69.000,425.999 71.1000,418.1000 C58.001,418.1000 43.999,418.1000 29.1000,418.1000 C37.999,405.001 46.001,390.999 53.1000,376.1000 C36.002,376.667 17.998,376.333 -0.000,375.1000 C-0.000,375.667 -0.000,375.333 -0.000,375.000 C33.663,331.671 67.337,288.329 100.1000,245.000 C162.730,163.261 224.675,80.008 284.000,0.000 C284.333,0.000 284.667,0.000 285.000,0.000 C315.322,41.987 400.352,159.386 568.000,375.1000 C568.000,376.333 568.000,376.667 568.000,376.1000 C550.335,377.333 532.665,377.667 515.000,378.000 C522.999,391.665 531.001,405.335 539.000,418.1000 C524.668,419.333 510.332,419.667 496.000,420.000 C498.1000,426.666 502.000,433.334 505.000,439.1000 C491.335,439.1000 477.665,439.1000 464.000,439.1000 C470.333,455.998 476.667,472.002 483.000,487.1000 C459.336,487.1000 435.664,487.1000 412.000,487.1000 C415.666,501.665 419.334,515.335 423.000,529.000 C330.676,529.333 238.324,529.667 145.1000,529.1000 ZM284.000,28.1000 C241.671,192.984 199.329,357.016 156.1000,520.1000 C241.658,520.1000 326.342,520.1000 411.000,520.1000 C411.000,520.000 411.000,518.1000 411.000,518.000 C368.671,355.016 326.329,191.984 284.000,28.1000 ZM251.1000,70.1000 C183.007,183.655 113.993,296.345 44.1000,409.000 C56.332,409.000 67.668,409.000 78.1000,409.000 C136.661,296.345 194.339,183.655 251.1000,70.1000 ZM315.000,70.1000 C373.661,183.655 432.339,296.345 491.000,409.000 C501.666,409.000 512.334,409.000 523.000,409.000 C523.000,408.667 523.000,408.333 523.000,407.1000 C453.674,295.678 384.326,183.322 315.000,70.1000 ZM259.1000,80.000 C206.005,212.987 151.995,346.013 97.1000,479.000 C108.999,479.000 120.001,479.000 130.1000,479.000 C162.663,381.676 194.337,284.324 225.1000,186.1000 C231.718,168.838 262.610,93.147 259.1000,80.000 ZM307.000,80.000 C350.329,212.987 393.671,346.013 437.000,479.000 C447.999,479.000 459.001,479.000 470.000,479.000 C470.000,478.667 470.000,478.333 470.000,477.1000 C415.672,345.347 361.328,212.653 307.000,80.000 Z"
          ></path>
        </svg>
      </div>
      <div class="decoration-top-right">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="568px"
          height="530px"
        >
          <path
            fill-rule="evenodd"
            fill="rgb(244, 211, 83)"
            d="M145.1000,529.1000 C149.333,516.335 152.667,502.665 155.1000,488.1000 C155.1000,488.667 155.1000,488.333 155.1000,487.1000 C132.669,487.667 109.331,487.333 85.1000,487.000 C85.1000,486.667 85.1000,486.333 85.1000,486.000 C91.999,470.668 98.001,455.332 103.1000,439.1000 C90.335,439.1000 76.665,439.1000 62.1000,439.1000 C65.1000,433.001 69.000,425.999 71.1000,418.1000 C58.001,418.1000 43.999,418.1000 29.1000,418.1000 C37.999,405.001 46.001,390.999 53.1000,376.1000 C36.002,376.667 17.998,376.333 -0.000,375.1000 C-0.000,375.667 -0.000,375.333 -0.000,375.000 C33.663,331.671 67.337,288.329 100.1000,245.000 C162.730,163.261 224.675,80.008 284.000,0.000 C284.333,0.000 284.667,0.000 285.000,0.000 C315.322,41.987 400.352,159.386 568.000,375.1000 C568.000,376.333 568.000,376.667 568.000,376.1000 C550.335,377.333 532.665,377.667 515.000,378.000 C522.999,391.665 531.001,405.335 539.000,418.1000 C524.668,419.333 510.332,419.667 496.000,420.000 C498.1000,426.666 502.000,433.334 505.000,439.1000 C491.335,439.1000 477.665,439.1000 464.000,439.1000 C470.333,455.998 476.667,472.002 483.000,487.1000 C459.336,487.1000 435.664,487.1000 412.000,487.1000 C415.666,501.665 419.334,515.335 423.000,529.000 C330.676,529.333 238.324,529.667 145.1000,529.1000 ZM284.000,28.1000 C241.671,192.984 199.329,357.016 156.1000,520.1000 C241.658,520.1000 326.342,520.1000 411.000,520.1000 C411.000,520.000 411.000,518.1000 411.000,518.000 C368.671,355.016 326.329,191.984 284.000,28.1000 ZM251.1000,70.1000 C183.007,183.655 113.993,296.345 44.1000,409.000 C56.332,409.000 67.668,409.000 78.1000,409.000 C136.661,296.345 194.339,183.655 251.1000,70.1000 ZM315.000,70.1000 C373.661,183.655 432.339,296.345 491.000,409.000 C501.666,409.000 512.334,409.000 523.000,409.000 C523.000,408.667 523.000,408.333 523.000,407.1000 C453.674,295.678 384.326,183.322 315.000,70.1000 ZM259.1000,80.000 C206.005,212.987 151.995,346.013 97.1000,479.000 C108.999,479.000 120.001,479.000 130.1000,479.000 C162.663,381.676 194.337,284.324 225.1000,186.1000 C231.718,168.838 262.610,93.147 259.1000,80.000 ZM307.000,80.000 C350.329,212.987 393.671,346.013 437.000,479.000 C447.999,479.000 459.001,479.000 470.000,479.000 C470.000,478.667 470.000,478.333 470.000,477.1000 C415.672,345.347 361.328,212.653 307.000,80.000 Z"
          ></path>
        </svg>
      </div>

      <div class="decoration-bottom-right">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="568px"
          height="530px"
        >
          <path
            fill-rule="evenodd"
            fill="rgb(244, 211, 83)"
            d="M145.1000,529.1000 C149.333,516.335 152.667,502.665 155.1000,488.1000 C155.1000,488.667 155.1000,488.333 155.1000,487.1000 C132.669,487.667 109.331,487.333 85.1000,487.000 C85.1000,486.667 85.1000,486.333 85.1000,486.000 C91.999,470.668 98.001,455.332 103.1000,439.1000 C90.335,439.1000 76.665,439.1000 62.1000,439.1000 C65.1000,433.001 69.000,425.999 71.1000,418.1000 C58.001,418.1000 43.999,418.1000 29.1000,418.1000 C37.999,405.001 46.001,390.999 53.1000,376.1000 C36.002,376.667 17.998,376.333 -0.000,375.1000 C-0.000,375.667 -0.000,375.333 -0.000,375.000 C33.663,331.671 67.337,288.329 100.1000,245.000 C162.730,163.261 224.675,80.008 284.000,0.000 C284.333,0.000 284.667,0.000 285.000,0.000 C315.322,41.987 400.352,159.386 568.000,375.1000 C568.000,376.333 568.000,376.667 568.000,376.1000 C550.335,377.333 532.665,377.667 515.000,378.000 C522.999,391.665 531.001,405.335 539.000,418.1000 C524.668,419.333 510.332,419.667 496.000,420.000 C498.1000,426.666 502.000,433.334 505.000,439.1000 C491.335,439.1000 477.665,439.1000 464.000,439.1000 C470.333,455.998 476.667,472.002 483.000,487.1000 C459.336,487.1000 435.664,487.1000 412.000,487.1000 C415.666,501.665 419.334,515.335 423.000,529.000 C330.676,529.333 238.324,529.667 145.1000,529.1000 ZM284.000,28.1000 C241.671,192.984 199.329,357.016 156.1000,520.1000 C241.658,520.1000 326.342,520.1000 411.000,520.1000 C411.000,520.000 411.000,518.1000 411.000,518.000 C368.671,355.016 326.329,191.984 284.000,28.1000 ZM251.1000,70.1000 C183.007,183.655 113.993,296.345 44.1000,409.000 C56.332,409.000 67.668,409.000 78.1000,409.000 C136.661,296.345 194.339,183.655 251.1000,70.1000 ZM315.000,70.1000 C373.661,183.655 432.339,296.345 491.000,409.000 C501.666,409.000 512.334,409.000 523.000,409.000 C523.000,408.667 523.000,408.333 523.000,407.1000 C453.674,295.678 384.326,183.322 315.000,70.1000 ZM259.1000,80.000 C206.005,212.987 151.995,346.013 97.1000,479.000 C108.999,479.000 120.001,479.000 130.1000,479.000 C162.663,381.676 194.337,284.324 225.1000,186.1000 C231.718,168.838 262.610,93.147 259.1000,80.000 ZM307.000,80.000 C350.329,212.987 393.671,346.013 437.000,479.000 C447.999,479.000 459.001,479.000 470.000,479.000 C470.000,478.667 470.000,478.333 470.000,477.1000 C415.672,345.347 361.328,212.653 307.000,80.000 Z"
          ></path>
        </svg>
      </div>
      <div class="decoration-bottom-left">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="568px"
          height="530px"
        >
          <path
            fill-rule="evenodd"
            fill="rgb(244, 211, 83)"
            d="M145.1000,529.1000 C149.333,516.335 152.667,502.665 155.1000,488.1000 C155.1000,488.667 155.1000,488.333 155.1000,487.1000 C132.669,487.667 109.331,487.333 85.1000,487.000 C85.1000,486.667 85.1000,486.333 85.1000,486.000 C91.999,470.668 98.001,455.332 103.1000,439.1000 C90.335,439.1000 76.665,439.1000 62.1000,439.1000 C65.1000,433.001 69.000,425.999 71.1000,418.1000 C58.001,418.1000 43.999,418.1000 29.1000,418.1000 C37.999,405.001 46.001,390.999 53.1000,376.1000 C36.002,376.667 17.998,376.333 -0.000,375.1000 C-0.000,375.667 -0.000,375.333 -0.000,375.000 C33.663,331.671 67.337,288.329 100.1000,245.000 C162.730,163.261 224.675,80.008 284.000,0.000 C284.333,0.000 284.667,0.000 285.000,0.000 C315.322,41.987 400.352,159.386 568.000,375.1000 C568.000,376.333 568.000,376.667 568.000,376.1000 C550.335,377.333 532.665,377.667 515.000,378.000 C522.999,391.665 531.001,405.335 539.000,418.1000 C524.668,419.333 510.332,419.667 496.000,420.000 C498.1000,426.666 502.000,433.334 505.000,439.1000 C491.335,439.1000 477.665,439.1000 464.000,439.1000 C470.333,455.998 476.667,472.002 483.000,487.1000 C459.336,487.1000 435.664,487.1000 412.000,487.1000 C415.666,501.665 419.334,515.335 423.000,529.000 C330.676,529.333 238.324,529.667 145.1000,529.1000 ZM284.000,28.1000 C241.671,192.984 199.329,357.016 156.1000,520.1000 C241.658,520.1000 326.342,520.1000 411.000,520.1000 C411.000,520.000 411.000,518.1000 411.000,518.000 C368.671,355.016 326.329,191.984 284.000,28.1000 ZM251.1000,70.1000 C183.007,183.655 113.993,296.345 44.1000,409.000 C56.332,409.000 67.668,409.000 78.1000,409.000 C136.661,296.345 194.339,183.655 251.1000,70.1000 ZM315.000,70.1000 C373.661,183.655 432.339,296.345 491.000,409.000 C501.666,409.000 512.334,409.000 523.000,409.000 C523.000,408.667 523.000,408.333 523.000,407.1000 C453.674,295.678 384.326,183.322 315.000,70.1000 ZM259.1000,80.000 C206.005,212.987 151.995,346.013 97.1000,479.000 C108.999,479.000 120.001,479.000 130.1000,479.000 C162.663,381.676 194.337,284.324 225.1000,186.1000 C231.718,168.838 262.610,93.147 259.1000,80.000 ZM307.000,80.000 C350.329,212.987 393.671,346.013 437.000,479.000 C447.999,479.000 459.001,479.000 470.000,479.000 C470.000,478.667 470.000,478.333 470.000,477.1000 C415.672,345.347 361.328,212.653 307.000,80.000 Z"
          ></path>
        </svg>
      </div>
    </div>

    <section class="main-section text-white">
      <slot />
    </section>
  </body>

  <style>
    :root {
      --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
      --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
      --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
      --color-text: #f4d353;
      --color-bg: #00121f;
    }
    html {
      font-family: "Josefin Sans Variable", sans-serif;
      font-size: var(--font-size-base);
      color: var(--color-text);
      background-color: var(--color-bg);
    }

    p {
      font-family: "Josefin Sans Variable", sans-serif;
    }

    body {
      margin: 0;
    }
    :global(h1) {
      font-size: var(--font-size-xl);
    }
    :global(h2) {
      font-size: var(--font-size-lg);
    }
    :global(code) {
      font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
  </style>
</html>
